.flex{
    display: flex;
    gap: 3px;
}

button{
    border: none;
    outline: none;
    color: #424242;
    font-weight: 600;
    background-color: rgb(255, 209, 57);
    border-radius: 6px;
    padding: 10px;
    cursor: pointer;
}

.info{
    color: white;
    font-weight: 700;
    font-size: 2rem;
}

img{
    cursor:pointer;
}

.letter.correct{
    color:rgb(255, 209, 57);
}

.letter.incorrect{
    color: rgb(255, 59, 59);
}

